[default]
hostname = "192.168.1.100"

local_playlists = "~/Library/Application Support/RetroArch/playlists"
local_bios = "~/Library/Application Support/RetroArch/system"
local_roms = "~/Documents/Roms"
local_cores = "~/Library/Application Support/RetroArch/cores"
local_thumbnails = "~/Library/Application Support/RetroArch/thumbnails"
local_cores_suffix = ".dylib"

remote_playlists = "/home/deck/.var/app/org.libretro.RetroArch/config/retroarch/playlists"
remote_bios = "/home/deck/Emulation/bios"
remote_roms = "/home/deck/Emulation/roms"
remote_cores = "/home/deck/.var/app/org.libretro.RetroArch/config/retroarch/cores"
remote_thumbnails = "/home/deck/.var/app/org.libretro.RetroArch/config/retroarch/thumbnails"
remote_cores_suffix = ".so"

[[playlists]]
name = "Atari - 2600.lpl"
local_folder = "Atari - 2600"
remote_folder = "atari2600"
core_path =  "stella_libretro"
core_name = "Atari - 2600 (Stella)"


[[playlists]]
name = "Atari - 7800.lpl"
local_folder = "Atari - 7800"
remote_folder = "atari7800"
core_path =  "prosystem_libretro"
core_name = "Atari - 7800 (ProSystem)"

[[playlists]]
name = "Sharp - X68000.lpl"
local_folder = "Sharp - X68000"
# Make sure to include all zip files matching the "FD" pattern
local_whitelist = '.*FD.*\.zip$'
# Exculde all files that hint hard dsik images
local_blacklist = '.*HD.*\.zip$'
remote_folder = "x68000"
core_path = "px68k_libretro"
core_name = "Sharp - X68000 (PX68k)"
disabled = false

[[playlists]]
name = "Commodore - Amiga.lpl"
local_folder = "Commodore - Amiga"
# Make sure to include all m3u list
local_whitelist = '\.m3u$'
# Don't add single adf images
local_blacklist = '\.adf$'
# Create fresh m3u files while updating playlists
local_create_m3u = true
# Only include adf images in m3u files
local_m3u_whitelist = '\.adf$'
# Normalizing pattern for files like "Agony (Disk 1 of 3).adf"
local_m3u_pattern = '(.*)(\(Disk \d of \d\)).*\.adf'
remote_folder = "amiga"
core_path = "puae_libretro"
core_name = "Commodore - Amiga (PUAE)"
disabled = false

[[playlists]]
name = "FBNeo - Arcade Games.lpl"
local_folder = "SNK - Neo Geo"
local_dat_file = "FinalBurnNeo.dat"
remote_folder = "neogeo"
core_path  = "fbneo_libretro"
core_name = "Arcade (FinalBurn Neo)"
