[default]
# Explain the method for copying data, whether it's local or remote.
target = "remote"
hostname = "192.168.1.100"
username = "deck"
password = "<password>"

src_playlists = "~/Library/Application Support/RetroArch/playlists"
src_bios = "~/Library/Application Support/RetroArch/system"
src_config = "~/Library/Application Support/RetroArch/config/"
src_roms = "~/Documents/Roms"
src_cores = "~/Library/Application Support/RetroArch/cores"
src_thumbnails = "~/Library/Application Support/RetroArch/thumbnails"
src_cores_suffix = ".dylib"

# Provide the specific location of the actual files
dest_playlists = "/home/deck/.var/app/org.libretro.RetroArch/config/retroarch/playlists"
dest_bios = "/home/deck/Emulation/bios"
dest_roms = "/home/deck/Emulation/roms"
dest_thumbnails = "/home/deck/.var/app/org.libretro.RetroArch/config/retroarch/thumbnails"

# Actual Destinations on the Target Device
target_roms =  "/home/deck/Emulation/roms"
target_cores = "/home/deck/.var/app/org.libretro.RetroArch/config/retroarch/cores"
target_cores_suffix = ".so"


[[playlists]]
name = "Atari - 2600.lpl"
src_folder = "Atari - 2600"
dest_folder = "atari2600"
src_core_path = "stella_libretro"
src_core_name = "Atari - 2600 (Stella)"
dest_core_path = "stella_libretro"
dest_core_name = "Atari - 2600 (Stella)"

[[playlists]]
name = "Atari - 7800.lpl"
src_folder = "Atari - 7800"
dest_folder = "atari7800"
src_core_path = "prosystem_libretro"
src_core_name = "Atari - 7800 (ProSystem)"
dest_core_path = "prosystem_libretro"
dest_core_name = "Atari - 7800 (ProSystem)"

[[playlists]]
name = "Sharp - X68000.lpl"
src_folder = "Sharp - X68000"
# Make sure to include all zip files matching the "FD" pattern
src_whitelist = '.*FD.*\.zip$'
# Exclude all files that hint hard disk images
src_blacklist = '.*HD.*\.zip$'
dest_folder = "x68000"
src_core_path = "px68k_libretro"
src_core_name = "Sharp - X68000 (PX68k)"
dest_core_path = "px68k_libretro"
dest_core_name = "Sharp - X68000 (PX68k)"
disabled = false

[[playlists]]
name = "Commodore - Amiga.lpl"
src_folder = "Commodore - Amiga"
# Make sure to include all m3u list
src_whitelist = '\.m3u$'
# Don't add single adf images
src_blacklist = '\.adf$'
# Create fresh m3u files while updating playlists
src_create_m3u = true
# Only include adf images in m3u files
src_m3u_whitelist = '\.adf$'
# Normalizing pattern for files like "Agony (Disk 1 of 3).adf"
src_m3u_pattern = '(.*)(\(Disk \d of \d\)).*\.adf'
dest_folder = "amiga"
src_core_path = "puae_libretro"
src_core_name = "Commodore - Amiga (PUAE)"
dest_core_path = "puae_libretro"
dest_core_name = "Commodore - Amiga (PUAE)"
disabled = false
